$background-color: #e6e6e6;
$body-font-color: #272833;

$header-color: #272833;
$header-color-secondary: #bbb;
$header-color-hover: darken($header-color, 20%);

$content-container-color: #e6e6e6;

$left-side-bar-color: #272833;

$footer-color: #272833;

$divider-color: #a7a9bc;
