div.no-element-found {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 200px;
  height: 50px;
  text-align: center;
}

span.no-element-found-text {
  display: inherit;
  margin-top: 0.5em;
  font-weight: 500;
  font-size: 0.95rem;
  color: gray;
}
